<?xml version='1.0' encoding='utf-8'?>
<widget id="org.neosafety.neosafety" 
        version="1.1.0"
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>NeoSafety</name>
    
    <description>
        Violent crimes are regularly being committed. To address this problem, we designed NeoSafety to safeguard users against the potential dangers surrounding them and to help build safer communities. By providing safety ratings based on users’ personalized information and real-time crime statistics, our users are able to know how safe they are at any given moment anywhere in Alameda and San Francisco Counties and eventually throughout the nation. Users also have quick access to local emergency services, crime statistics and the ability to report a crime. With NeoSafety, users can take safety into their own hands!
    </description>
    
    <author email="neosafetyapp@gmail.com" 
            href="http://neosafety.org">
            NeoSafety Team
    </author>
    
    <content src="index.html" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-geolocation" source="npm" />
    <plugin name="cordova-plugin-globalization" source="npm" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="cordova-plugin-statusbar" source="npm" />
    <plugin name="cordova-plugin-vibration" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    
    <preference name="permissions" value="none" />
    
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    
    <icon src="icon.png" />
    <icon src="res/drawable-ldpi/icon.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/drawable-mdpi/icon.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/drawable-hdpi/icon.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/drawable-xhdpi/icon.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/drawable-xxhdpi/icon.png"  gap:platform="android"    gap:density="xxhdpi" />
    <icon src="res/drawable-xxxhdpi/icon.png"  gap:platform="android"    gap:density="xxxhdpi" />
    <icon src="res/icon/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="res/icon/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/icon/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <icon src="res/icon/ios/icon-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="res/icon/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100" />
    <icon src="res/icon/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="res/icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="res/icon/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
    <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="res/icon/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <icon src="res/icon/ios/icon-114.png" gap:platform="ios" width="114" height="114" />
    <icon src="res/icon/ios/icon-144.png" gap:platform="ios" width="144" height="144" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"          gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"       gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-iphone-landscape.png"         gap:platform="ios"     width="480" height="320" />
    <gap:splash src="res/screen/ios/screen-iphone-landscape-2x.png"      gap:platform="ios"     width="960" height="640" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h.png"     gap:platform="ios"     width="320"  height="568" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png"  gap:platform="ios"     width="640"  height="1136" />
    <platform name="android">
        <icon density="ldpi" src="www/res/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="www/res/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="www/res/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="www/res/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="www/res/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="www/res/drawable-xxxhdpi/icon.png" />
        <splash density="land-ldpi" src="www/res/screen/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="www/res/screen/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="www/res/screen/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="www/res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="www/res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="icon/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="icon/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="icon/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="icon/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="icon/ios/icon-small@3x.png" width="87" />
        <splash src='splash/ios/Default.png' width='320' height='480' />
        <splash src='splash/ios/Default@2x.png' width='640' height='960' />
        <splash src='splash/ios/Default-568h@2x.png' width='640' height='1136' />
        <splash src='splash/ios/Default-Portrait.png' width='768' height='1024' />
        <splash src='splash/ios/Default-Landscape.png' width='1024' height='768' />
        <splash src='splash/ios/Default-Portrait@2x.png' width='1536' height='2048' />
        <splash src='splash/ios/Default-Landscape@2x.png' width='2048' height='1536' />
    </platform>
    <platform name="wp8">
        <icon height="99" platform="wp8" src="www/res/icon/wp8/ApplicationIcon.png" width="99" />
        <icon height="159" platform="wp8" src="www/res/icon/wp8/Background.png" width="159" />
        <splash height="1280" platform="wp8" src="www/res/screen/wp8/screen-portrait.jpg" width="768" />
    </platform>
    <platform name="windows">
        <icon height="150" platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-100.png" width="150" />
        <icon height="30" platform="windows" src="www/res/icon/windows/Square30x30Logo.scale-100.png" width="30" />
        <icon height="50" platform="windows" src="www/res/icon/windows/StoreLogo.scale-100.png" width="50" />
        <splash height="300" platform="windows" src="www/res/screen/windows/SplashScreen.scale-100.png" width="620" />
        <icon height="120" platform="windows" src="www/res/icon/windows/StoreLogo.scale-240.png" width="120" />
        <icon height="44" platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-100.png" width="44" />
        <icon height="106" platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-240.png" width="106" />
        <icon height="70" platform="windows" src="www/res/icon/windows/Square70x70Logo.scale-100.png" width="70" />
        <icon height="71" platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-100.png" width="71" />
        <icon height="170" platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-240.png" width="170" />
        <icon height="360" platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-240.png" width="360" />
        <icon height="310" platform="windows" src="www/res/icon/windows/Square310x310Logo.scale-100.png" width="310" />
        <icon height="150" platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-100.png" width="310" />
        <icon height="360" platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-240.png" width="744" />
        <splash height="1920" platform="windows" src="www/res/screen/windows/SplashScreenPhone.scale-240.png" width="1152" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.1.1" />
    <engine name="ios" spec="~4.1.1" />
</widget>
